/* ===== Global ===== */
* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #000;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  overflow-x: hidden;
  gap: 10px;
}

/* ===== Navbar ===== */
.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  height: 90px;
  width: 100%;
  background-color: black;
  color: white;
  font-size: 10px;
  gap: 50px;
  padding: 0;
  margin: 0;
}

.navbar a, .navbar h1 {
  text-decoration: none;
  color: white;
  padding: 5px 10px ;
  transition: color 0.3s;
}

.navbar a.active {
  color: #a19f9f;
  font-weight: 700;
  border-bottom: 2px solid #ebe7e7;
}

.navbar .logo {
  margin-right: 400px;
  font-size: 5.5rem;
}

.navbar h1:hover {
  color: rgb(128, 127, 127);
}

/* ===== Image Section ===== */
.img {
  height: 560px;
  width: 100%;
}

.img img {
  height: 100%;
  width: 100%;
  display: block;
}

/* ===== Menu ===== */
.menu {
  height: 300px;
  width: 200px;
  background-color: rgba(95, 94, 94, 0.082);
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: -450px;
  margin-left: 30px;
  padding: 20px 0;
}

.menu a {
  color: rgb(238, 237, 237);
  text-decoration: none;
  font-size: 20px;
  margin-left: 75px;
  transition: color 0.3s;
}

.cr {
  display: flex;
  flex-direction: row;
  align-items: end;
  height: 220px;
  width: 100%;
  color: white;
  font-size: 20px;
  margin-top: 130px;
  padding: 0;
  margin: 0;
}

.cr a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.cr p {
  margin-left: 50px;
  margin-top: 20px;
}

/* ===== Links ===== */
.link {
  width: 800px;
  display: flex;
  flex-direction: column;
  margin-left: 250px;
  margin-top: 20px;
}

/* MEDIA QUERIES */
/* Large Desktops (1440px and above) */
@media screen and (min-width: 1440px) {
  .navbar .logo {
    margin-left: -500px;
    font-size: 90px;
  }

  .link {
    margin-left: 350px;
  }
}

/* Standard Desktops (1024px to 1439px) */
@media screen and (max-width: 1439px) {
  .navbar .logo {
    margin-left: -280px;
    font-size: 70px;
  }

  .link {
    width: 600px;
    margin-left: 150px;
  }
}

/* Tablets Landscape (768px to 1023px) */
@media screen and (max-width: 1023px) {
  .navbar {
    height: 80px;
    gap: 25px;
    padding: 0 20px;
    justify-content: space-between;
  }

  .navbar .logo {
    margin-left: 0;
    font-size: 60px;
  }

  .navbar h1 {
    font-size: 14px;
  }

  .img {
    height: 400px;
  }

  .menu {
    height: 250px;
    width: 180px;
    margin-top: -350px;
    margin-left: 20px;
    gap: 20px;
  }

  .menu a {
    font-size: 18px;
    margin-left: 50px;
  }

  .cr {
    flex-direction: column;
    height: auto;
    margin-top: 80px;
    padding: 0;
  }

  .cr p {
    margin-left: 30px;
    margin-top: 0;
  }

  .link {
    width: 100%;
    margin-left: 0;
    margin-top: 20px;
    gap: 10px;
    font-size: 14px;
  }
}

/* Tablets Portrait (481px to 767px) */
@media screen and (max-width: 767px) {
  .navbar {
    height: 70px;
    width: 100%;
    gap: 15px;
    padding: 0 15px;
    flex-wrap: wrap;
  }

  .navbar .logo {
    font-size: 50px;
    margin-left: 0;
  }

  .navbar h1 {
    font-size: 12px;
    margin-top: 0;
  }

  .img {
    height: 300px;
  }

  .menu {
    height: 220px;
    width: 150px;
    margin-top: -280px;
    margin-left: 15px;
    gap: 15px;
  }

  .menu a {
    font-size: 16px;
    margin-left: 35px;
  }

  .cr {
    margin-top: 50px;
    padding: 0 20px 20px 20px;
  }

  .cr p {
    margin-left: 0;
    margin-right: 20px;
    font-size: 14px;
  }

  .link {
    font-size: 14px;
  }
}

/* Mobile Devices (320px to 480px) */
@media screen and (max-width: 480px) {
  body {
    width: 100%;
    overflow-x: hidden;
  }

  .navbar {
    flex-direction: column;
    height: auto;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 15px 10px;
    width: 100%;
  }

  .navbar .logo {
    margin-right: 0;
    font-size: 3.5rem;
    margin-bottom: 10px;
  }

  .navbar a {
    width: 100%;
    text-align: center;
    padding: 8px 0;
    display: block;
  }

  .navbar h1 {
    font-size: 1rem;
    margin: 0;
  }

  .navbar a.active {
    border-bottom: none;
    border-left: 3px solid #ebe7e7;
    padding-left: 15px;
  }

  .img {
    height: 250px;
  }

  .menu {
    position: relative;
    height: auto;
    width: calc(100% - 30px);
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
    padding: 20px 0;
    gap: 15px;
    background-color: rgba(95, 94, 94, 0.15);
  }

  .menu a {
    font-size: 16px;
    margin-left: 30px;
  }

  .cr {
    flex-direction: column;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 12px;
    margin-top: 30px;
    padding: 0 0 30px 0;
    height: auto;
    width: 90%;
    overflow-x: hidden;
  }

  .cr p {
    margin-left: 0;
    margin-right: 15px;
    line-height: 1.6;
  }

  .link {
    width: 100%;
    margin-left: 0;
    margin-top: 15px;
    gap: 12px;
    font-size: 12px;
    padding: 0 15px;
  }

  .link a {
    word-break: break-word;
  }
}

/* Extra Small Mobile (max 320px) */
@media screen and (max-width: 320px) {
  .navbar .logo {
    font-size: 2.5rem;
  }

  .navbar h1 {
    font-size: 9px;
  }

  .img {
    height: 200px;
  }

  .menu {
    width: calc(100% - 20px);
    margin-left: 10px;
    margin-right: 10px;
    padding: 15px 0;
  }

  .menu a {
    font-size: 14px;
    margin-left: 20px;
  }

  .cr {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 11px;
  }

  .cr p {
    margin-left: 0;
  }

  .link {
    font-size: 11px;
    padding: 0 10px;
  }
}